<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Portal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
      <h2>🎓 Student Resource Portal</h2>

      {% if level != "files" %}
          <h3>Select {{ level|capitalize }}</h3>
          <ul>
              {% for option in options %}
                  <li>
                      <a href="/student/{{ '/'.join(path + [option]) }}">{{ option }}</a>
                  </li>
              {% endfor %}
          </ul>
      {% else %}
          <h3>Available Files:</h3>
          <ul>
              {% for f in files %}
                  <a href="{{ url_for('uploaded_file', filename=f.filename) }}" target="_blank">{{ f.filename }}</a>

              {% endfor %}
          </ul>
          <a class="back-link" href="{{ url_for('student.student_dashboard') }}">⬅ Go Back to Resource Types</a>
      {% endif %}
      <p><a href="{{ url_for('auth.logout') }}">Logout</a></p>
  </div>
</body>
</html>




